<!--%= render "comments/form", post: @post, comment: @comment %-->
<div class="container">
  <div class="row">
    <%= render 'form', client: @client, post: @post, comment: @comment %>
  </div>
</div>
