<div class="container px-5 px-sm-0">
  <div class="row mt-3">
    <div class="col">
      <strong style="font-size:25px;">顧客一覧</strong>
      <table class='table table-hover table-inverse'>
        <%= render 'index', clients: @clients %>
      </table>
      <%= paginate @clients %>
    </div>
  </div>
</div>