<div class="container">

  <h2 style="text-align:center; color:white; background-color:#74992e;">このサイトについて</h2>

  <p align="center">このサイトは工事現場やDIYで使える<span style="color:#ff7f50">材料を扱っている業者</span>の紹介をしています。<br/>
  このサイトを作った経緯については以下の通りです。</p>
  <br>
  <br>
  <div class="row d-flex">
    <div class="col-md-5">
      <%= image_tag 'daa57108273bc6c2aca66d2a8194c5d5_w.jpeg', size: '350x500' %>
    </div>
    <div class="col-md-7" style="font-size:12px;">
      <h6><span style="color:#4169e1">初めに</span></h6>
      <p>以前の私は施工管理職という仕事をしていました。</p>
      <details><summary>施工管理とは</summary>
        簡単にいえば工事現場にて工事に関係することを管理する職業になります。<br>
        具体的には「品質」「環境」「原価」「安全」「工程」について管理を行います。<br>
        ①品質・・・雇っている職人が手抜き工事をしていないかを管理することです<br>
        ②環境・・・工事現場も職場になるので、その職場環境を整えるイメージです<br>
        ③原価・・・工事中に必要な経費の金額を如何に請負価格以内に収めるか、といった感じです<br>
        ④安全・・・工事現場は危険がたくさんあり、それによる怪我や事故を防ぐことです<br>
        ⑤工程・・・工事期間内に施工を終わらせること　※要はスケジュール管理です<br>
      </details><br>
      <p>このサイトは、その時の経験をもとに作成致しました。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>レビューには会員登録が必要になります。</p>
    </div>
  </div>
</div>