<div class="container">
	<div class="row">
    <h2>検索結果</h2>
    <table class="table table-hover table-inverse">
      <!--検索対象モデルがclientの時 -->
      <% if @range == "Client" %>
        <%= render 'client_index', clients: @clients %>
      <% elsif @range == "Trader" %>
        <!--検索対象モデルがTraderの時 -->
        <%= render 'trader_index', traders: @traders %>
      <% elsif @range == "Post" %>
        <!--検索対象モデルがPostの時 -->
        <%= render 'post_index', posts: @posts %>
      <% else %>
        <!--検索対象モデルがReviewの時 -->
        <%= render 'review_index', reviews: @reviews %>
      <% end %>
    </table>
  </div>
</div>
