<% if post.favorited_by?(current_client) %>
  <p>
    <%= link_to client_trader_post_favorites_path(post.trader.id , post.id), local: true, method: :delete do %>
      ♥<%= post.favorites.count %> いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to client_trader_post_favorites_path(post.trader.id , post.id), local: true, method: :post do %>
      ♡<%= post.favorites.count %> いいね
    <% end %>
  </p>
<% end %>
